*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(166, 179, 179);
}

.head{
    background-color: aqua;
}

nav{
    background-color: rgb(137, 145, 142);
    height: 20px;
    margin: 10px;
    padding: 10px;
}