*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(182, 184, 187);

}

.card{
    background-color: rgb(104, 124, 124);
    width: 370px;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex{
    
    
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
    
}